body {
    background-color: #1e1e1e;
    color: #ff4444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    color: #ddd;
}