html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;      
    background-color: #27292c; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1 {
    color: #d9534f; 
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    color: #cdcdcd;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

button {
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}